@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '~@fontsource/ubuntu/500.css';

body {
  margin: $pt-navbar-height 0;
  background: #1d2021;
  max-height: 100vh;
  overflow: hidden;
}

input:focus {
  outline: none;
}
