@import "~@blueprintjs/core/lib/scss/variables";

.release-select {
  width: 270px;
  justify-content: space-between;

  &__menu {
    max-height: $pt-grid-size * 24;
    overflow-y: auto;
  }

  &__popover {

  }

  &__tag {
    font-size: 10px;
    padding: 1px 3px;
    min-height: auto;
    line-height: normal;
  }
}